
.cart__item__holder >.cart{
    display: flex;
    align-items: center;
}
.cart__item__holder >.cart>img{
    height: 100px;
    width: 100px;
    border-radius: 5px;
}
.cart__item__holder >.cart>.text{
    margin-left: 10px;
    line-height: 1.5;
}
